@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  /* color */
  --primary-color: #fd6e0a;
  --white-color: #fff;
  --bg-color: #fff8f3;
  --color-black: #000;
  --color-gray: #757575;
  --color-red: red;

  /* spacing */
  --padding-container: 1.5rem 8.5rem;
  --gap-flex-grid: 2.5rem;

  /* font size */
  --section-title: 2.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* common class ues */
.container {
  padding: var(--padding-container);
}

.btn {
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--bg-color);
  color: var(--primary-color);
}

.header {
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, left;
}

/* navbar styles */
.nav-bar {
  display: flex;
  justify-content: space-between;
}

.brand-name {
  font-size: 2.5rem;
}

.text-color {
  color: var(--primary-color);
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-flex-grid);
  font-size: 1.25rem;
}

ul > li {
  list-style-type: none;
}

.link-tag {
  text-decoration: none;
  color: var(--color-black);
}

/* banner styles */
.banner {
  display: flex;
  align-items: center;
  gap: var(--gap-flex-grid);
  margin-top: 1.25rem;
}

.small-heading-banner {
  font-size: 1.5rem;
}

.big-heading-banner {
  margin-top: 0.5rem;
  font-size: var(--section-title);
}

.banner-description {
  margin-top: 0.5rem;
}

.btn-group {
  margin-top: 1.5rem;
}

/* about section styles */
.about {
  margin-top: 6.25rem;
  background-color: var(--bg-color);
  border-radius: 0.8rem;
}

.section-title {
  font-size: var(--section-title);
  text-align: center;
}

.section-description {
  margin-top: 2rem;
  text-align: center;
}

.information-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  margin-top: 2rem;
}

/* what-i-do section style */
.what-i-do,
.my-resume,
.contact {
  margin-top: 6.25rem;
}

.skills-container {
  display: grid;
  gap: var(--gap-flex-grid);
  grid-template-columns: repeat(4, 1fr);
  margin-top: 3rem;
}

.skill {
  background-color: var(--white-color);
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.skill-title {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

/* resume section styles */
.my-education-experience-container {
  display: flex;
  gap: var(--gap-flex-grid);
  margin-top: 2rem;
}

.resume-items {
  margin-top: 1rem;
}

.resume-title,
.resume-info,
.resume-description {
  margin-top: 0.5rem;
}

.resume-info {
  color: var(--color-gray);
}

.line {
  margin-top: 1rem;
  color: rgba(128, 128, 128, 0.582);
}

.resume-btn {
  text-align: center;
  margin: 2rem 0;
}

/* footer styles */
.contact {
  background-color: var(--bg-color);
}

.contact {
  display: flex;
  gap: var(--gap-flex-grid);
}

.contact-title {
  font-size: 2rem;
  margin-bottom: 1.2rem;
}

.contact-description {
  color: var(--color-gray);
  font-size: 0.9rem;
  line-height: 1.5;
  margin-bottom: 1.2rem;
}

.social a {
  text-decoration: none;
  margin-right: 2rem;
}

input {
  height: 2.5rem;
}

input[type="text"],
input[type="email"],
textarea {
  margin-bottom: 1.5rem;
  border: 0;
  width: 100%;
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
}

textarea {
  resize: none;
}

/* responsive */
@media only screen and (max-width: 992px) {
  .header,
  .about,
  .what-i-do,
  .my-resume,
  .contact-container {
    padding: 1rem 2rem;
  }

  .banner-img > img {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .header,
  .about,
  .what-i-do,
  .my-resume,
  .contact {
    padding: 0.5rem 1.5rem;
  }

  .nav-bar,
  .nav-items,
  .banner,
  .my-education-experience-container,
  .contact {
    flex-direction: column;
  }

  .nav-items,
  .banner,
  .skills-container,
  .contact {
    gap: 0.8rem;
  }

  .brand-name {
    font-size: 2rem;
    text-align: center;
  }

  .banner-content {
    width: 100%;
    margin-top: 0.6rem;
  }

  .banner-img > img {
    width: 100%;
  }

  .information-list,
  .skills-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 576px) {
  .header,
  .about,
  .what-i-do,
  .my-resume,
  .contact {
    padding: 0.5rem;
  }

  .brand-name {
    font-size: 1.5rem;
  }

  .nav-items,
  .banner,
  .skills-container,
  .contact {
    gap: 0.5rem;
  }

  .banner {
    margin-top: 0.5rem;
  }

  .btn-primary {
    margin-bottom: 0.5rem;
  }

  .banner-content {
    width: 100%;
    text-align: center;
  }

  .small-heading-banner {
    font-size: 1rem;
  }

  .big-heading-banner,
  .section-title {
    font-size: 1.5rem;
  }

  .banner-img > img {
    width: 100%;
  }

  .about {
    margin-top: 0.5rem;
    border-radius: 0.3rem;
  }

  .section-description {
    width: 100%;
  }

  .skill {
    text-align: center;
  }

  .btn-submit {
    text-align: center;
    display: block;
    width: 100%;
  }

  .my-education,
  .my-experience,
  .content-item,
  .contact-title {
    text-align: center;
  }
}
